<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.3.1/fullcalendar.min.css">

<div class="cal-holder">
	<div class="container">
		<div class="row padding-big">
			<div class="col-centered col-md-10">
				<div ui-calendar="dash.uiConfig.calendar" ng-model="dash.eventSources"></div>
			</div>
		</div>
	</div>
</div>

<div class="dashboard overlay">
	<div class="container">
		<div class="row holder align-center">
			<div class="col-md-6 padding-big col-centered">
				<a class="box grayscale" href="/grades" id="class" ng-if="!dash.isInstructor">
					<div class="centerH">
						<h3>My Gradebook</h4>
					</div>
				</a>
				<a class="box grayscale" href="/cpanel" id="class" ng-if="dash.isInstructor">
					<div class="centerH">
						<h3>Instructor Panel</h4>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="scripts/moment.min.js"></script>
<script type="text/javascript" src="scripts/fullcalendar.min.js"></script>