<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.3.1/fullcalendar.min.css">

<div class="dashboard overlay">
	<div class="container">
		<div class="row padding-big holder">
			<div class="col-md-5">
				<a class="box grayscale" href="/classes/my" id="class">
					<div class="centerH">
						<h3>My Classes</h4>
					</div>
				</a>
			</div>
			<div class="col-md-6">
				<a class="box grayscale" href="/grades" id="grade">
					<div class="centerH">
						<h3>My Grades</h4>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>