<div id="sp-links" class="fixed-left">
    <a id="sp-github" href="https://github.com/WVUP"><span class="fa fa-github fa-4x"></span></a>
</div>

<div class="header">
	<div class="menu-top-home">
	<div class="container">
		<div class="align-right">
			<ul class="links" ng-if="!isLoggedIn">
				<li>
					<span ng-click="main.openLogin()" class="ghost-btn ghost ghost-orange">Sign In</span>
				</li>
				<li>
					<span class="ghost-btn ghost ghost-green" ng-click="main.openRegister()">Register</span>
				</li>
			</ul>
		</div>
	</div>
	</div>
	<div class="container">
		<div class="content-box align-center">
			<span class="logo-font">&nbsp;&nbsp;&nbsp;&nbsp;Simple</span><i id="intro" class="fa fa-circle-o big-icon"></i><span class="logo-font">Gradebook</span>
			<p class="regular-small-font">Online learning with us</p>
		</div>
		<div class="bottom-bar">
			<div class="container align-center">
				<div class="align-right">
					<i scroll-on-click class="fa fa-angle-double-down fa-5x cursor-animate select"></i>
				</div>
			</div>
		</div>
	</div>
</div>
<div class='padding-big'></div>

<div class="row align-center">
    <div class="row container">
		<h2 class="title-font">How does it work?</h2>

		<div class="padding-big"></div>

		<p ng-click="main.openRegister()" class="regular-normal-font select">Register and</p>

		<div class="col-md-4 rules">
			<p class="regular-small-font orange">Instructors</p>
			<div class="person instructor1"></div>
			<div class="person instructor2"></div>

			<p class="regular-normal-font">Start creating classes and assignments for your students right away</p>
			<p class="regular-normal-font">You can limit access to your classes with a password</p>
		</div>
		<div class="col-md-4 col-md-offset-4 rules">
			<p class="regular-small-font green-color">Students</p>
			<div class="person student1"></div>
			<div class="person student2"></div>

			<p class="regular-normal-font">Ask your instructor for a passphrase if your class is not public</p>
			<p class="regular-normal-font">Find your instructor's class and enroll</p>
		</div>
    </div>
    <div class="gray">
    	<div class="container" style="height:500px"> <!-- temporary -->
    		<h2 class="title-font white">features</h2>
    	</div>

    </div>
</div>
<div class="footer align-center">
	<div class="container">
		<h4>Something interesting here</h4>
	</div>
</div>	

<script type="text/javascript">
	$(document).ready(function() {
		console.log('executing !@')
		$("#intro").addClass("change-color"); 
	});
</script>


<script type="text/ng-template" id="loginModal.html">
	<div class="alert alert-danger align-center" ng-show="login.error">
		{{login.error}}
	</div>
	<span class="float-right padding-big cursor" ng-click="login.close()">Close</span>
	<div class="login-form">
		<span><img src="assets/images/u6.png" /></span>
		<form ng-submit="login.doLogin(form.$valid)" name="form" novalidate>
			<div>
				<input required type="text" placeholder="E-MAIL*" ng-model="login.loginData.email">
			</div>
			<div>
				<input required name="password" type="password" placeholder="PASSWORD*" ng-model="login.loginData.password">
			</div>
			
			<button type="submit" class="btn btn-primary btn-block">
				<span ng-if="login.processing" class="spinner"><span class="glyphicon glyphicon-repeat"></span></span>
				<span ng-if="!login.processing">Sign In</span>
			</button>
		</form>
	</div>
</script>

<script type="text/ng-template" id="registerModal.html">
	<div class="alert alert-danger align-center" ng-show="register.error">
		{{register.error}}
	</div>
	<span class="float-right padding-big cursor" ng-click="register.close()">Close</span>
	<div class="login-form">
		<span><img src="assets/images/u6.png" /></span>
		<form ng-submit="register.doRegister(form.$valid)" name="form" novalidate>
			<div>
				<input required type="text" placeholder="FIRST NAME*" ng-model="register.registerData.fname">
			</div>
			<div>
				<input required type="text" placeholder="LAST NAME*" ng-model="register.registerData.lname">
			</div>
			<div>
				<input required type="text" placeholder="E-MAIL*" ng-model="register.registerData.email">
			</div>
			<div>
				<input required name="password" ng-minlength="6" type="password" placeholder="PASSWORD*" ng-model="register.registerData.password">
				<p class="help-block bg-danger" ng-show="form.password.$error.minlength">Min 6 characters required</p>
			</div>
			
			<button type="submit" class="btn green btn-block">
				<span ng-if="register.processing" class="spinner"><span class="glyphicon glyphicon-repeat"></span></span>
				<span ng-if="!register.processing">Register</span>
			</button>
		</form>
	</div>
</script>

<script type="text/javascript">
	    $(window).scroll(function() {
	        // get how far we've scrolled from the top of our screen
	        var offset = $(window).scrollTop();
	        offset = offset * 2.2;
	        // apply the offset as a css transform to our buttons
	        $('#sp-links a').css({
	            '-moz-transform': 'rotate(' + offset + 'deg)',
	            '-webkit-transform': 'rotate(' + offset + 'deg)',
	            '-o-transform': 'rotate(' + offset + 'deg)',
	            '-ms-transform': 'rotate(' + offset + 'deg)',
	            'transform': 'rotate(' + offset + 'deg)',
	        });
	    });
	</script>