/*@font-face {
    font-family: Avengers;
    src: url('../fonts/BankGothicBold.ttf');
}

header .navbar{
	border-radius: 0;
}

::-webkit-input-placeholder
{
    text-align: center;
    font-family: Avengers;
}

.btn {
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  padding: 6px;
  display: block;
  color: #808080;
  margin: 0px auto;
  border: thin solid #89C4F4;
}
.btn:hover {
  border: thin solid transparent;
}

.btn-default, .btn-default:hover, .btn-default:focus{
	background-color: #fff;
}
.btn-default, .btn-default:focus{
  border: thin solid #89C4F4;
}
.right {
  float: right;
}
.left {
  float: left;
}
.pwd {
  margin-bottom: 50px !important;
}

.spinner {
  animation:spin 1s infinite;
  -webkit-animation:spin 1s infinite;
  -moz-animation:spin 1s infinite;
}

@keyframes spin {
  from  { transform:rotate(0deg); }
  to  { transform:rotate(360deg); }
}

@-webkit-keyframes spin {
  from  { -webkit-transform:rotate(0deg); }
  to  { -webkit-transform:rotate(360deg); }
}

@-moz-keyframes spin {
  from  { -moz-transform:rotate(0deg); }  
  to  { -moz-transform:rotate(360deg); }
}

.col-sm-2 a{
  margin: 5px;
}
.ng-enter{
  -webkit-animation:fadeIn .8s both linear;
  -moz-animation:fadeIn .8s both linear;
  animation:fadeIn .8s both linear;
}

.button-upload {
    -moz-appearance: button;
    -webkit-appearance: button;
    padding: 10px;
    margin: 10px;
    width: 100px;
}
.select{
  cursor: pointer;
}*/
/*---------------------------*/

body {
  font-family: Roboto,sans-serif;
  font-size: 15px;
  color: #5f5e5d;
}
* {
  outline: 0px none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
input[type="text"],
input[type="password"] {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  padding: 0.7em 2em 0.7em 1.7em;
  font-size: 18px;
  background: none repeat scroll 0% 0% transparent;
  border: thin solid #b4b2b2;
  border-radius: 2px;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border: thin solid #89C4F4;
}

form[novalidate] input{
  border: thin solid #89C4F4;
}

input.ng-invalid.ng-dirty{
  border-color: red;
}

.login-form {
  background: none repeat scroll 0% 0% #fff;
  margin: 9% auto;
  position: relative;
  width: 400px;
  text-align: center;
}
.login-form form {
  padding: 5% 10% 20% 2.5em;
}
.login-form form div {
  
  margin-bottom: 25px;
  width: 100%;
  background: none repeat scroll 0% 0% transparent;
  border-radius: 0.3em;
}
.header{
  background-color: #1a1f2a;
  background-image: url('../images/png.png');
  background-position: center top;
  background-size: cover;
  color: white;
  padding-top: 30px;
  padding-bottom: 200px;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  height: 100%
}
.header h1 {
  padding-top: 90px;
  font-size: 60px;
  color: white;
}
.align-center{
  text-align: center;
}
.align-right {
  text-align: right;
}
.silver {
  color: #b9bcc3;
}
.login-box{
  margin-top: 80px;
  padding: 25px 50px;
}
.login-box .btn{
  font-size: 25px;
}
.green{
  color: #fff;
  background-color: #26C281
}
.green:hover{
  color: #fff;
  background-color: #03A678
}
.btn-primary {
  background-color: #F9690E;
  border-color: #F9690E;
}
.btn-primary:hover {
  background-color: #EB974E;
  border-color: #EB974E;
}
.links li{
  display: inline-block;
}