/*@font-face {
    font-family: Avengers;
    src: url('../fonts/BankGothicBold.ttf');
}

header .navbar{
	border-radius: 0;
}

::-webkit-input-placeholder
{
    text-align: center;
    font-family: Avengers;
}

.btn {
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  padding: 6px;
  display: block;
  color: #808080;
  margin: 0px auto;
  border: thin solid #89C4F4;
}
.btn:hover {
  border: thin solid transparent;
}

.btn-default, .btn-default:hover, .btn-default:focus{
	background-color: #fff;
}
.btn-default, .btn-default:focus{
  border: thin solid #89C4F4;
}
.right {
  float: right;
}
.left {
  float: left;
}
.pwd {
  margin-bottom: 50px !important;
}

.spinner {
  animation:spin 1s infinite;
  -webkit-animation:spin 1s infinite;
  -moz-animation:spin 1s infinite;
}

@keyframes spin {
  from  { transform:rotate(0deg); }
  to  { transform:rotate(360deg); }
}

@-webkit-keyframes spin {
  from  { -webkit-transform:rotate(0deg); }
  to  { -webkit-transform:rotate(360deg); }
}

@-moz-keyframes spin {
  from  { -moz-transform:rotate(0deg); }  
  to  { -moz-transform:rotate(360deg); }
}

.col-sm-2 a{
  margin: 5px;
}
.ng-enter{
  -webkit-animation:fadeIn .8s both linear;
  -moz-animation:fadeIn .8s both linear;
  animation:fadeIn .8s both linear;
}

.button-upload {
    -moz-appearance: button;
    -webkit-appearance: button;
    padding: 10px;
    margin: 10px;
    width: 100px;
}
.select{
  cursor: pointer;
}*/
/*---------------------------*/

body {
  font-family: Roboto,sans-serif;
  font-size: 15px;
  color: #5f5e5d;
}
* {
  outline: 0px none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
input[type="text"],
input[type="password"] {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  padding: 0.7em 2em 0.7em 1.7em;
  font-size: 18px;
  background: none repeat scroll 0% 0% transparent;
  border: thin solid #b4b2b2;
  border-radius: 2px;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border: thin solid #89C4F4;
}

form[novalidate] input{
  border: thin solid #89C4F4;
}

input.ng-invalid.ng-dirty{
  border-color: red;
}

.login-form {
  background: none repeat scroll 0% 0% #fff;
  margin: 9% auto;
  position: relative;
  width: 400px;
  text-align: center;
}
.login-form form {
  padding: 5% 10% 20% 2.5em;
}
.login-form form div {
  
  margin-bottom: 25px;
  width: 100%;
  background: none repeat scroll 0% 0% transparent;
  border-radius: 0.3em;
}
.header{
  background-color: #1a1f2a;
  background-image: url('../images/png.png');
  background-position: center top;
  background-size: cover;
  color: white;
  padding-top: 30px;
  padding-bottom: 200px;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  height: 100%
}
.sky-blue{
  background-color: #E4F1FE;
}
.header h1 {
  padding-top: 90px;
  font-size: 60px;
  color: white;
}
.align-center{
  text-align: center;
}
.align-right {
  text-align: right;
}
.logo{
  position: fixed;
  float: left;
}
.silver {
  color: #b9bcc3;
}
.login-box{
  margin-top: 80px;
  padding: 25px 50px;
}
.login-box .btn{
  font-size: 25px;
}
.green{
  color: #fff;
  background-color: #03A678
}
.green:hover, .green:focus{
  color: #fff;
  background-color: #26C281
}
.btn-primary {
  background-color: #F9690E;
  border-color: #F9690E;
}
.float-right{
  float: right;
}
.footer{
  background-color: black;
  height: 80px;
}
.cursor{
  cursor: pointer;
}
.btn-primary:hover, .btn-primary:focus {
  background-color: #EB974E;
  border-color: #EB974E;
}
.links li{
  display: inline-block;
}
.padding-big{
  padding: 15px;
}
#sp-links a { 
  display:inline-block; 
  color: #1a1f2a;
}


/*-----------------------------*/


.open {
  position: fixed;
  top: 10px;
  right: 20px;
  width: 50px;
  height: 50px;
  display: block;
  cursor: pointer;
  transition: opacity 0.2s linear;
}

.open:hover { opacity: 0.8; }

.open span {
  display: block;
  float: left;
  clear: both;
  height: 4px;
  width: 40px;
  border-radius: 40px;
  background-color: black;
  position: absolute;
  right: 3px;
  top: 3px;
  overflow: hidden;
  transition: all 0.4s ease;
}

.open span:nth-child(1) {
  margin-top: 10px;
  z-index: 9;
}

.open span:nth-child(2) { margin-top: 25px; }

.open span:nth-child(3) { margin-top: 40px; }

.sub-menu {
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  height: 0;
  width: 0;
  right: 0;
  top: 0;
  position: absolute;
  background-color: rgba(38, 84, 133, 0.54);
  border-radius: 50%;
  z-index: 18;
  overflow: hidden;
}

.sub-menu li {
  display: block;
  float: right;
  clear: both;
  height: auto;
  margin-right: -160px;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.sub-menu li:first-child { margin-top: 180px; }

.sub-menu li:nth-child(1) { -webkit-transition-delay: 0.05s; }

.sub-menu li:nth-child(2) { -webkit-transition-delay: 0.10s; }

.sub-menu li:nth-child(3) { -webkit-transition-delay: 0.15s; }

.sub-menu li:nth-child(4) { -webkit-transition-delay: 0.20s; }

.sub-menu li:nth-child(5) { -webkit-transition-delay: 0.25s; }

.sub-menu li a {
  color: #fff;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-size: 16px;
  width: 100%;
  display: block;
  float: left;
  line-height: 40px;
}

.oppenned .sub-menu {
  opacity: 1;
  height: 400px;
  width: 400px;
}

.oppenned span:nth-child(2) { overflow: visible; }

.oppenned span:nth-child(1),
.oppenned span:nth-child(3) {
  z-index: 100;
  transform: rotate(45deg);
}

.oppenned span:nth-child(1) { transform: rotate(45deg) translateY(12px) translateX(12px); }

.oppenned span:nth-child(2) {
  height: 400px;
  width: 400px;
  right: -160px;
  top: -160px;
  border-radius: 50%;
  background-color: rgba(38, 84, 133, 0.54);
}

.oppenned span:nth-child(3) { transform: rotate(-45deg) translateY(-10px) translateX(10px); }

.oppenned li { margin-right: 168px; }


/*----------------------*/