<div class="row show-hide-message" ng-show="addStudents.message">
	<div class="col-sm-6 col-sm-offset-2">
		
		<div class="alert alert-info">
			{{ addStudents.message }}
		</div>

	</div>
</div>

<h1>Add students</h1>
<div class="jumbotron text-center" ng-show="addStudents.processing">
	<span class="glyphicon glyphicon-repeat spinner"></span>
	<p>Loading Users...</p>
</div>

<table class="table table-bordered table-striped" ng-show="addStudents.users">
	<thead>
		<tr>
			<th>_id</th>
			<th>Name</th>
			<th>Username</th>
			<th class="col-sm-2"></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="person in addStudents.users">
			<td>{{ person._id }}</td>
			<td>{{ person.name }}</td>
			<td>{{ person.username }}</td>
			<td class="col-sm-2">
				<input type="checkbox" ng-checked="addStudents.selectedUsers.indexOf(person) != -1" ng-click="addStudents.toggleCheck(person._id)">
			</td>
		</tr>
	</tbody>
</table>

<button class="btn btn-default" ng-click="addStudents.postStudents()">Add students</button>