<div class="jumbotron text-center" ng-show="class.processing">
	<span class="glyphicon glyphicon-repeat spinner"></span>
	<p>Loading Classes...</p>
</div>
<div class="page-header">
<h1>Classes</h1>
	<a href="/classes/create" class="btn btn-default">
				<span class="glyphicon glyphicon-plus"></span> 
				New Class
			</a>
</div>
<table class="table table-bordered table-striped" ng-show="class.classes">
	<thead>
		<tr>
			<th>Name</th>
			<th>CRN</th>
			<th>Description</th>
			<th class="col-sm-2"></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="gClass in class.classes">
			<td>{{ gClass.name }}</td>
			<td>{{ gClass.crn }}</td>
			<td>{{ gClass.description }}</td>
			<td class="col-sm-2">
				<a ng-show="isInstructor" ng-href="/classes/{{ gClass._id }}" class="btn btn-default">Edit Class</a>
				<a ng-show="isInstructor" href="#" ng-click="class.doDeleteClass(gClass._id)" class="btn btn-default">Delete Class</a>
				<a ng-show="isInstructor" ng-href="/assignments/create/{{ gClass._id }}" class="btn btn-default">New Assignment</a>
				<a ng-show="isInstructor" ng-href="/assignments/addAssignment/{{ gClass._id }}" class="btn btn-default">Add Existing Assignment</a>
				<a ng-href="/assignments/view/{{ gClass._id }}" class="btn btn-default">View Assignments</a>
				<a ng-show="isInstructor" ng-href="/classes/addStudents/{{ gClass._id }}" class="btn btn-default">Add Students</a>
				<a ng-href="/classes/enrolledStudents/{{ gClass._id }}" class="btn btn-default">View Students</a>
			</td>
		</tr>
	</tbody>
</table>