<div class="row absolute text-center" ng-show="class.processing">
	<span class="glyphicon glyphicon-repeat spinner"></span>
	<p>Loading...</p>
</div>

<div class="container">
	<a href="/classes/create" class="btn btn-link">
			New Class
		</a>
	<h1 class="logo-font align-center">Classes</h1>

	<pagination class="float-right" rotate="false" max-size="class.maxSize" total-items="class.totalItems" items-per-page="class.itemsPerPage" ng-model="class.currentPage" ng-change="class.pageChanged()"></pagination>

	<table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<th>Name</th>
				<th>CRN</th>
				<th>Term</th>
				<th>Instructor</th>
				<th class="col-sm-2"></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="gClass in class.classes">
				<td>{{ gClass.name }}</td>
				<td>{{ gClass.crn }}</td>
				<td>{{ gClass.term }}</td>
				<td>{{ gClass.instructor.fname }} {{gClass.instructor.lname}}</td>
				<td class="col-sm-2">
					<a ng-href="/classes/{{ gClass._id }}" class="btn btn-link">Edit Class</a>
					<a href="#" ng-click="class.doDeleteClass(gClass._id)" class="btn btn-link">Delete Class</a>
					<a ng-href="/assignments/create/{{ gClass._id }}" class="btn btn-link">New Assignment</a>
					<a ng-href="/assignments/addAssignment/{{ gClass._id }}" class="btn btn-link">Add Existing Assignment</a>
					<a ng-href="/assignments/view/{{ gClass._id }}" class="btn btn-link">View Assignments</a>
					<a ng-href="/classes/addStudents/{{ gClass._id }}" class="btn btn-link">Add Students</a>
					<a ng-href="/classes/enrolledStudents/{{ gClass._id }}" class="btn btn-link">View Students</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>