<div class="container" ng-if="!user.receivedData">
	<div class="col-md-offset-4 col-md-4">
		<h5 class="logo-font align-center">Edit user</h5>
		<form class="form-horizontal" ng-submit="user.saveUser()">
			<div class="form-group">
				<label>Name</label>
				<input type="text" class="form-control" ng-model="user.userData.name">
			</div>

			<div class="form-group">
				<label>Email</label>
				<input type="email" class="form-control" ng-model="user.userData.email">
			</div>

			<div class="form-group">
				<label>Password</label>
				<input type="text" class="form-control" ng-model="user.userData.password">
			</div>

			<div class="form-group align-center">
				<button type="submit" class="Tghost-btn">Edit</button>
			</div>
		</form>
		<div class="form-inline align-center">
			<span ng-repeat="role in user.roles" class="padding-big input-group">
				<label>{{ role }}</label>
				<input type="checkbox" ng-checked="user.selectedRoles.indexOf(role) != -1" ng-click="user.toggleCheck(role)">
			</span>
			<div>
				<button class="btn btn-link" ng-click="user.postUserRoles()">Set Roles</button>
			</div>
		</div>
	</div>

</div>

<div class="alert alert-info align-center upper" ng-if="user.receivedData">
	{{ user.message}}
</div>


<div class="alert alert-danger upper align-center" ng-show="class.error">
	{{class.error}}
</div>