<div class="row absolute text-center" ng-show="class.processing">
	<span class="glyphicon glyphicon-repeat spinner"></span>
	<p>Loading...</p>
</div>

<div ng-if="assignment.assignments.length > 0" class="container">
	<h1 class="logo-font align-center">Assignments for {{assignment.classNm}}</h1>

	<table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<th>Name</th>
				<th>Description</th>
				<th>Date Assigned</th>
				<th>Due Date</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="assignm in assignment.assignments">
				<td>{{ assignm.name }}</td>
				<td>{{ assignm.description }}</td>
				<td>{{ assignm.dateAssigned | date : 'medium' }}</td>
				<td>{{ assignm.dateDue | date : 'medium' }}</td>
			</tr>
		</tbody>
	</table>
</div>